.page {
  min-height: 100vh;
  background: #f3f4f6;

  display: flex;
  justify-content: center;

  padding: 40px 20px;
}

.card {
  width: 100%;
  max-width: 900px;

  background: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;

  padding: 30px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.6;

    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* статус */
.statusSubmit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.status {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.select {
  height: 56px;

  padding: 0 10px;

  border-radius: 6px;
  border: 1px solid #e5e7eb;

  background: white;
  font-size: 14px;

  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #549293;
  }
}

.submitButton {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 8px;

    background: #549293;
    color: white;

    font-size: 15px;
    cursor: pointer;
  }

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 13px;
  color: #6b7280;
}

.fieldValue {
  min-height: 38px;
  display: flex;
  align-items: center;

  padding: 8px 10px;

  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 6px;

  font-size: 14px;
  color: #111827;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: 18px;
    font-weight: 600;
  }
}

.textAreaValue {
  min-height: 100px;

  padding: 12px;

  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;

  font-size: 14px;
  line-height: 1.5;

  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .columns {
    grid-template-columns: 1fr;
  }

  .status {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 20px;
  }
}