.wrapper {
  position: absolute;

  top: calc(100% + 8px);
  right: 0;
  z-index: 1000;
}

.menu {
  min-width: 220px;
  border-radius: 12px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 1px;

  animation: dropdown 0.15s ease;
}

.menu.light {
  background: #ffffff;

  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);

  color: #1a1a1a;
}

.menu.glass {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.12),
    rgba(33, 33, 33, 0.3)
  );

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25);

  color: #f7f7f7;
}

.item {
  padding: 10px 12px;
  border: none;
  background: transparent;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.15s;
}

.menu.light .item {
  width: 100%;
  color: #1a1a1a;

  &:hover {
    background: #f5f7f7;
  }

  &:active {
    background: #e6f4f4;
  }
}

.menu.glass .item {
  width: 100%;
  color: #f7f7f7;

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.label {
  padding: 10px 12px;
  font-size: 14px;
}

.menu.light .label {
  color: #555;
}

.menu.glass .label {
  color: rgba(255, 255, 255, 0.8);
}


.menu.light .divider {
  background: #eee;
}

.menu.glass .divider {
  background: rgba(255, 255, 255, 0.2);
}

.logout {
  width: 100%;
  padding: 10px 12px;
  border: none;
  background: transparent;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.menu.light .logout {
  color: #d11a2a;

  &:hover {
    background: #fff1f1;
  }
}

.menu.glass .logout {
  color: #ff8080;

  &:hover {
    background: rgba(255, 0, 0, 0.15);
  }
}

@media (max-width: 768px) {
  .wrapper {
    position: fixed;
    top: 70px;
    right: 16px;
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-6px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}